@charset "UTF8";
body{
    padding: 3rem 0px 0px 0px;
    margin: 0px;
    background-color: #212529;
    font-family: "Roboto";
    overflow-x: hidden;
}
/*
    Tirei a parte do Main{padding}, pois estava atrapalhando em outras partes
*/
header nav p{
    color: white;
    font-weight: normal;
    display: inline-block;
    margin-right: 0.5rem;
}
header nav option{
    color: rgb(179, 176, 176);
    background-color: #343A40;
    font-weight: bold;
    border: 3px solid red;
}
header select{
    margin-left: 0.3rem;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    font-size: 0.9rem;
    padding-right: 8px;
}
header select:hover{
    cursor: pointer;
}
.redes{
    float: right;
    margin-right: 2rem;
}
.redes a{
    color: white;
    font-size: 1.1rem;
    margin-right: 0.5rem;
}
#top-bar{
    width: 100%;
    height: 3rem;
    position: fixed !important;
    background-color: #212529;
    border-bottom: 0.5px solid rgb(133, 127, 127);
    top: 0px;
    padding: 0rem 1rem;
    z-index: 10;
    display: inline-block;
}
header nav i{
    color: white;
}
header nav i:hover{
    cursor: pointer;
}
.centralizar{
    text-align: center;
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-30%, -70%);
    text-align: center;
    display: block;
}
#menu-principal{
    width: 100%;
    height: 5rem;
    margin-top: 0px;
    background-image: radial-gradient(circle, #E61A23, #8D0106);
    border-top: 0.6rem solid #FF531E;
    border-bottom: 0.6rem solid #FF531E;
    padding: 0px 1rem;
    position: relative;
}
#menu-principal a{
    height: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    display: inline-block !important;
    margin-right: 1rem;
}
#vitrine{
    padding: 0px 1rem;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.5rem;
}
.filme{
    height: 16rem;
    border: 3px solid #FF531E;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 1rem;
}
.filme:hover{
    cursor: pointer;
}
.filme img:hover{
    transform: scale(1.3);
    transition: 0.6s;
}
.exibiçao{
    padding: 0px 1rem;
    color: #C41925;
    font-weight: bold;
    font-size: 1.3rem;
    text-decoration: underline 4px #C41925;
    text-underline-offset: 0.7rem;
}
.exibiçao:hover{
    cursor: pointer;
}
.filme img{
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.5s ease;
}
.escolha{
    display: inline-block;
}
.slide{
    height: 18rem;
    height: min-content;
    width: 91%;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 2rem;
}
.slide img{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    transition: transform 0.5s ease;
}
.slide img:hover{
    transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
}
.button-programaçao{
    width: 14rem;
    height: 2.5rem;
    background-color: #C41925;
    color: white;
    border: none;
    border-radius: 0.2rem;
    font-weight: 900;
    font-size: 0.8rem;
    float: right;
    transition: 0.3s;
}
.button-programaçao:hover{
    background-color: #88121a;
    transition: 0.3s;
    cursor: pointer;
}
.promo-slide{
    padding: 2rem 1rem;
    background-color: #2E3235;
    color: white;
}
.promo-slide > h2{
    display: block;
}
.img-promoçoes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap: 20px;
}
.promo-img{
    height: 32rem;
    overflow: hidden;
}
.promo-img img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    transition: transform 0.4s ease;
}
.promo-img img:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
@media (max-width:540px){
    #top-bar .redes{
        display: none;
    }
    .escolha{
        display: block;
        text-align: center;
        margin: 0 auto;
    }
}
@media (max-width:980px){
    .centralizar{
        display: none;
    }
    #menu-principal .fixo{
        display: block !important;
    }
    #menu-principal .fixo{
        display: block;
        text-align: center;
    }
}
@media (max-width:480px){
    #vitrine{
        max-width: 100%;
        gap: 1rem;
    }
}
@media (max-width:980px){
    #menu-principal{
        height: 3rem;
    }
    .fixo img{
        height: 3rem;
    }
}