@charset "UTF8";
:root{
    --branco:#ffffff;
    --preto:#000;
    --preto-basico:#212529;
    --cinza:rgb(179, 176, 176);
    --laranja:#FF531E;
    --vermelho-escuro:#C41925;
    --vermelho-vinho:#88121a;
}
body{
    padding: 3rem 0px 0px 0px;
    margin: 0px;
    background-color: var(--preto-basico);
    font-family: "Roboto";
    overflow-x: hidden;
    box-sizing: border-box;
}
/*
    Tirei a parte do Main{padding}, pois estava atrapalhando em outras partes
*/
header nav p{
    color: var(--branco);
    font-weight: normal;
    display: inline-block;
    margin-right: 0.5rem;
}
header nav option{
    color: var(--cinza);
    background-color: #343A40;
    font-weight: bold;
    border: 3px solid red;
}
header select{
    margin-left: 0.3rem;
    background-color: transparent;
    border: none;
    color: var(--branco);
    outline: none;
    font-size: 0.9rem;
    padding-right: 8px;
}
header select:hover{
    cursor: pointer;
}
.redes{
    float: right;
}
.redes a{
    color: var(--branco);
    font-size: 1.1rem;
    margin-right: 0.5rem;
}
#top-bar{
    width: 100%;
    height: 3rem;
    position: fixed !important;
    background-color: var(--preto-basico);
    border-bottom: 0.5px solid rgb(133, 127, 127);
    top: 0px;
    z-index: 10;
    display: inline-block;
}
header nav i{
    color: var(--branco);
}
header nav i:hover{
    cursor: pointer;
}
.centralizar{
    text-align: center;
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-30%, -70%);
    text-align: center;
    display: block;
}
#menu-principal{
    height: 5rem;
    margin-top: 0px;
    background-image: radial-gradient(circle, #E61A23, #8D0106);
    border-top: 0.6rem solid var(--laranja);
    border-bottom: 0.6rem solid var(--laranja);
    padding: 0px 1rem;
    position: relative;
}
#menu-principal a{
    height: 20px;
    color: var(--branco);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    display: inline-block !important;
    margin-right: 1rem;
}
#vitrine{
    padding: 0 1rem;
    display: grid;
    width: 81%;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
}
.filme{
    min-height: 10rem;
    height: 32vh;
    border: 3px solid var(--laranja);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 1rem;
}
.filme:hover{
    cursor: pointer;
}
.filme img:hover{
    transform: scale(1.3);
    transition: 0.6s;
}
.exibiçao{
    padding: 0px 1rem;
    color: var(--vermelho-escuro);
    font-weight: bold;
    font-size: 1.3rem;
    text-decoration: underline 4px var(--vermelho-escuro);
    text-underline-offset: 0.6rem;
    display: inline-block;
}
.exibiçao:hover{
    cursor: pointer;
}
.breve{
    display: inline-block;
    color: var(--branco);
    font-size: 1.3rem;
    padding: 0 1rem;
    font-weight: bold;
}
.breve:hover{
    cursor: pointer;
}
.filme img{
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.5s ease;
}
.escolha{
    display: inline-block;
}
.slide{
    height: 19rem;
    height: min-content;
    width: 91%;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 2rem;
}
.slide img{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    transition: transform 0.5s ease;
}
.slide img:hover{
    transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
}
.button-programaçao{
    margin-right: 1rem;
    width: 14rem;
    height: 2.5rem;
    background-color: var(--vermelho-escuro);
    color: var(--branco);
    border: none;
    border-radius: 0.2rem;
    font-weight: 900;
    font-size: 0.8rem;
    float: right;
    transition: 0.3s;
}
.button-programaçao:hover{
    background-color: var(--vermelho-vinho);
    transition: 0.3s;
    cursor: pointer;
}
.button-pequeno{
    width: 70%;
    height: 2.5rem;
    background-color: var(--vermelho-escuro);
    color: var(--branco);
    border: none;
    border-radius: 0.2rem;
    font-weight: 900;
    font-size: 0.8rem;
    transition: 0.3s;
    display: none;
}
.button-pequeno:hover{
    background-color: var(--vermelho-vinho);
    transition: 0.3s;
    cursor: pointer;
}
.promo-slide{
    padding: 2rem 1rem;
    background-color: #2E3235;
    color: var(--branco);
    height: 32rem;
    height: min-content;

}
.promo-slide > h2{
    display: block;
}
.img-promoçoes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 20px;
}
.promo-img{
    overflow: hidden;
}
.promo-img img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    transition: transform 0.4s ease;
}
.promo-img img:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
#servicos{
    color: var(--branco);
    font-size: 1rem;
    padding: 1rem 1rem 2rem 1rem;
}
.facilidades{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
    gap: 10px;
}
.servicos-img{
    overflow: hidden;
    height: 10rem;
    height: min-content;
}
.servicos-img img{
    height: 100%;
    width: 100%;
    transition: transform 0.4s ease;
}
.servicos-img img:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
footer{
    background-color: var(--preto);
    border-top: 4px dashed var(--branco);
    color: var(--branco);
    height: 5rem;
}
footer p {
    margin-bottom: 0px;
    font-size: 1.1rem;
}
.esconder{
    display: none;
}
@media (max-width:540px){
    #top-bar .redes{
        display: none;
    }
    .escolha{
        display: block;
        text-align: center;
        margin: 0 auto;
    }
}

@media (max-width:480px){
    #vitrine{
        max-width: 100%;
        gap: 1rem;
    }
}
@media (max-width:980px){
    #menu-principal{
        height: 3rem;
    }
    .fixo img{
        height: 3rem;
    }
}
@media (max-width:990px){
    .slide{
        width: 100%;
    }
    .button-pequeno{
        display: block;
        margin: 0 auto;
        width: 90%;
    }
    .button-programaçao{
        display: none;
    }
    .centralizar{
        display: none;
    }
    #menu-principal .fixo{
        display: block !important;
    }
    #menu-principal .fixo{
        display: block;
        text-align: center;
    }
    #vitrine{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, minmax(45%, 1fr));
        overflow-x: auto;
        gap: 10px;
        box-sizing: border-box;
    }
    .filme{
        height: 23vh;
        height: 45vw;
        display: inline-block;
    }
    #vitrine::-webkit-scrollbar{
        display: none;
    }
    .img-promoçoes{
        display: grid;
        grid-template-columns: repeat(3, minmax(90%, 1fr));
        white-space: nowrap;
        overflow-x: auto;
    }
    .img-promoçoes::-webkit-scrollbar{
        display: none;
    }
    .facilidades{
        display: grid;
        grid-template-columns: repeat(4, minmax(90%, 1fr));
        white-space: nowrap;
        overflow-x: auto;
    }
    .facilidades::-webkit-scrollbar{
        display: none;
    }
}