body{
    padding: 3rem 0px 0px 0px;
    margin: 0px;
    background-color: #212529;
    font-family: "Roboto";
    overflow-x: hidden;
}
header nav p{
    color: white;
    font-weight: normal;
    display: inline-block;
    margin-right: 0.5rem;
}
header nav option{
    color: rgb(179, 176, 176);
    background-color: #343A40;
    font-weight: bold;
    border: 3px solid red;
}
header select{
    margin-left: 0.3rem;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    font-size: 0.9rem;
    padding-right: 8px;
    appearance: none;
    background-image: url(img/icons8-arrow-32.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1.3rem;
}
header select:hover{
    cursor: pointer;
}
.redes{
    float: right;
    margin-right: 2rem;
}
.redes a{
    color: white;
    font-size: 1.1rem;
    margin-right: 0.5rem;
}
#top-bar{
    width: 100%;
    height: 3rem;
    position: fixed;
    background-color: #212529;
    border-bottom: 0.5px solid rgb(133, 127, 127);
    top: 0px;
    padding: 0rem 1rem;
}
header nav i{
    color: white;
}
header nav i:hover{
    cursor: pointer;
}
#menu-principal{
    width: 100%;
    height: 5rem;
    margin-top: 0px;
    background-image: radial-gradient(circle, #E61A23, #8D0106);
    border-top: 0.6rem solid #FF531E;
    border-bottom: 0.6rem solid #FF531E;
    padding: 0px 1rem;
}
#menu-principal a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    margin-right: 1rem;
    margin: 0 auto 1rem;
}
@media (max-width:480px){
    #top-bar .redes{
        display: none;
    }
    .olamundo{
        margin: 0 auto;
    }
}